.banner {
  position: relative;
  height: calc(100vh - 64px);
  width: 100%;
}

.banner::before {
  content: "";
  background-image: url("../public/coffee-bags.jpg");
  background-color: #5f4e3a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40% center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.75;
}
